In [1]:
import pandas as pd
from pathlib import Path

In [2]:
BASE_DIR = Path.cwd().parent
PROCESSED_DATA_DIR = BASE_DIR / 'data' / 'processed'

In [4]:
try:
  df_2024 = pd.read_csv(PROCESSED_DATA_DIR/'state_of_data_2024_limpo.csv')
  df_2023 = pd.read_csv(PROCESSED_DATA_DIR/'state_of_data_2023_limpo.csv')
  df_2022 = pd.read_csv(PROCESSED_DATA_DIR/'state_of_data_2022_limpo.csv')
  print("arquivos encontrados")
except FileNotFoundError as erro:
  print("Arquivo nao encontrado" + erro)

arquivos encontrados

## 1 - encontrado colunas em comum usando set

In [5]:
#encontrar colunas comuns
colunas_comuns = list(set(df_2024) & set(df_2023) & set(df_2022))

In [6]:
print(colunas_comuns)

['entrevistas_ultimos_6m', 'planos_mudar_emprego', 'faixa_idade', 'bancos_dados_usados_dia_a_dia', 'motivos_insatisfacao', 'nivel_ensino', 'atua_como_gestor', 'nivel_hierarquico', 'genero', 'experiencia_anos_num', 'setor_atuacao', 'linguagens_usadas_dia_a_dia', 'modelo_trabalho_ideal', 'ferramentas_bi_usadas_dia_a_dia', 'linguagem_preferida', 'desafios_gestor', 'regiao_origem', 'pcd', 'grupo_cargo', 'salario_medio_mensal', 'tamanho_empresa', 'cloud_preferida', 'experiencia_ti_anos', 'experiencia_dados_anos', 'situacao_trabalho', 'tamanho_equipe_dados', 'experiencia_prejudicada', 'faixa_salarial', 'etnia', 'cargo_atual', 'idade', 'tempo_busca_emprego_meses', 'modelo_trabalho_atual', 'id_participante', 'criterios_escolha_emprego', 'satisfacao_trabalho', 'regiao_residencia', 'area_formacao', 'linguagem_principal', 'ano', 'uf_residencia', 'tipo_oportunidade_buscada']

In [7]:
len(colunas_comuns)

42

## 2- filtrando para apenas colunas em comum

In [8]:
df_2024_filtrado = df_2024[colunas_comuns]
df_2023_filtrado = df_2023[colunas_comuns]
df_2022_filtrado = df_2022[colunas_comuns]

In [9]:
print('unificando os dataset')
df_unificado = pd.concat([df_2024_filtrado, df_2023_filtrado, df_2022_filtrado], ignore_index=True)
print('unificados com sucesso')

unificando os dataset
unificados com sucesso

In [10]:
df_unificado

,entrevistas_ultimos_6m,planos_mudar_emprego,faixa_idade,bancos_dados_usados_dia_a_dia,motivos_insatisfacao,nivel_ensino,atua_como_gestor,nivel_hierarquico,genero,experiencia_anos_num,...,modelo_trabalho_atual,id_participante,criterios_escolha_emprego,satisfacao_trabalho,regiao_residencia,area_formacao,linguagem_principal,ano,uf_residencia,tipo_oportunidade_buscada
0,"Sim, fui aprovado e mudei de emprego","Não estou buscando, mas me considero aberto a ...",17-21,Google BigQuery,NaN,Estudante de Graduação,False,Júnior,Masculino,1.5,...,Modelo 100% remoto,reb94rv0msth7q4nreb94riaq80iz3yi,"Remuneração/Salário, Reputação que a empresa t...",True,Sul,Computação / Engenharia de Software / Sistemas...,Python,2024,RS,NaN
1,Não participei de entrevistas de emprego/proce...,Não estou buscando e não pretendo mudar de emp...,17-21,Databricks,NaN,Estudante de Graduação,False,Júnior,Masculino,0.5,...,Modelo 100% presencial,1zc66g69jjt49y32l1zc66g8wqj79m4e,Oportunidade de aprendizado e trabalhar com re...,True,Sul,Computação / Engenharia de Software / Sistemas...,Python,2024,SC,NaN
2,Não participei de entrevistas de emprego/proce...,Estou em busca de oportunidades dentro ou fora...,17-21,"MySQL, CoachDB",Remuneração/Salário não corresponde a realidad...,Estudante de Graduação,False,Júnior,Masculino,0.0,...,Modelo 100% presencial,uu99wmam4n5kc2uu99wmydf0rk7l58f7,"Remuneração/Salário, Propósito do trabalho e d...",False,Sudeste,Computação / Engenharia de Software / Sistemas...,NaN,2024,SP,NaN
3,Não participei de entrevistas de emprego/proce...,Não estou buscando e não pretendo mudar de emp...,17-21,"Snowflake, PostgreSQL",NaN,Estudante de Graduação,False,Júnior,Masculino,0.5,...,Modelo híbrido flexível (o funcionário tem lib...,3ynsw7z0hl5hhpbfvaeqk73ynsw7z04l,Oportunidade de aprendizado e trabalhar com re...,True,Sudeste,Computação / Engenharia de Software / Sistemas...,SQL,2024,SP,NaN
4,"Sim, fui aprovado mas decidi não mudar de emprego",Não estou buscando e não pretendo mudar de emp...,17-21,MySQL,NaN,Estudante de Graduação,False,Júnior,Masculino,0.5,...,Modelo 100% remoto,v6bji2ct5xckpl1uouv6bjiotkrf3b4f,Oportunidade de aprendizado e trabalhar com re...,True,Sudeste,Computação / Engenharia de Software / Sistemas...,JavaScript,2024,SP,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14776,"Sim, fui aprovado e mudei de emprego",Não estou buscando e não pretendo mudar de emp...,25-29,"PostgreSQL, Oracle, MariaDB, HBase, MySQL",NaN,Graduação/Bacharelado,False,Pleno,Masculino,3.5,...,Modelo 100% remoto,01jnrn9f6va0menfhk2ztm01jnrn96bp,"Remuneração/Salário, Benefícios, Flexibilidade...",True,Sudeste,Computação / Engenharia de Software / Sistemas...,SQL,2022,SP,NaN
14777,Não participei de entrevistas de emprego/proce...,Não estou buscando e não pretendo mudar de emp...,30-34,"SQL SERVER, SAP HANA",NaN,Mestrado,False,Pleno,Feminino,1.5,...,Modelo 100% remoto,01dyfxam4u4bi29fem01dyfxaq9akvqp,"Ambiente e clima de trabalho, Plano de carreir...",True,Sudeste,Outras Engenharias,SQL,2022,MG,NaN
14778,"Sim, fui aprovado mas decidi não mudar de emprego","Não estou buscando, mas me considero aberto a ...",25-29,NaN,NaN,Mestrado,True,NaN,Masculino,5.0,...,Modelo híbrido com dias fixos de trabalho pres...,00zw9ks9d40z4u00zz3d20iix65qpli3,"Remuneração/Salário, Ambiente e clima de traba...",True,Sudeste,Outras Engenharias,NaN,2022,SP,NaN
14779,Não participei de entrevistas de emprego/proce...,Estou em busca de oportunidades dentro ou fora...,17-21,"Microsoft Access, Oracle",NaN,Não tenho graduação formal,False,Júnior,Masculino,0.5,...,Modelo 100% presencial,00xu7yujd7s57emj00xu7y0c3njix3de,Oportunidade de aprendizado e trabalhar com re...,True,Sudeste,NaN,Python,2022,SP,NaN
14780,"Sim, fiz entrevistas mas não fui aprovado",Estou em busca de oportunidades dentro ou fora...,22-24,"Oracle, Firebird, SQL SERVER","Salário atual não corresponde ao mercado, Falt...",Graduação/Bacharelado,False,Júnior,Masculino,1.5,...,Modelo 100% remoto,00lb35llmdsidpa00lb35qcdysnzvhv7,"Remuneração/Salário, Oportunidade de aprendiza...",False,Centro-oeste,Computação / Engenharia de Software / Sistemas...,SQL,2022,GO,NaN

In [12]:
#teste da unificação
print(f'O novo dataset tem {df_unificado.shape}')
print(f'A soma do dataset é: {len(df_2024_filtrado) + len(df_2023_filtrado) + len(df_2022_filtrado)}')

O novo dataset tem (14781, 42)
A soma do dataset é: 14781

In [13]:
print('verificando coluna "ano"')
df_unificado['ano'].value_counts()

verificando coluna "ano"

ano
2023    5293
2024    5217
2022    4271
Name: count, dtype: int64

In [15]:
print('teste de análise')
try:
  grupos = df_unificado.groupby(['ano', 'nivel_hierarquico'])['salario_medio_mensal'].mean().round(2).unstack()
  print(grupos)
except Exception as e:
  print("Houve um erro" + e.__cause__)

teste de análise
nivel_hierarquico   Júnior    Pleno    Sênior
ano
2022               3928.64  7961.82  12848.50
2023               3919.75  7533.55  13577.68
2024               4166.96  8048.79  14506.23

# APENAS TESTE