In [2]:
import pandas as pd
import numpy as np
from pathlib import Path
import sys

In [3]:
sys.path.append('../src')
import data_cleaner as dc

In [4]:
RAW_DATA_DIR, PROCESSED_DATA_DIR = dc.caminho_para_dataset()

In [5]:
try:
  df_2021 = pd.read_csv(PROCESSED_DATA_DIR/'state_of_data_2021_limpo.csv')
  df_2022 = pd.read_csv(PROCESSED_DATA_DIR/'state_of_data_2022_limpo.csv')
  df_2023 = pd.read_csv(PROCESSED_DATA_DIR/'state_of_data_2023_limpo.csv')
  df_2024 = pd.read_csv(PROCESSED_DATA_DIR/'state_of_data_2024_limpo.csv')
  print('arquivos encontrados com sucesso')
except FileNotFoundError as e:
  print('Arquivo(s) nao encontrado(s) ' + e)

/tmp/ipykernel_22951/2874492303.py:2: DtypeWarning: Columns (47) have mixed types. Specify dtype option on import or set low_memory=False.
  df_2021 = pd.read_csv(PROCESSED_DATA_DIR/'state_of_data_2021_limpo.csv')

arquivos encontrados com sucesso

In [6]:
colunas_comuns = list(set(df_2021) & set(df_2022) & set(df_2023) & set(df_2024))
print(colunas_comuns)
print(len(colunas_comuns))

['modelo_trabalho_atual', 'bancos_dados_usados_dia_a_dia', 'tamanho_empresa', 'desafios_gestor', 'cargo_atual', 'satisfacao_trabalho', 'idade', 'area_formacao', 'linguagem_principal', 'nivel_hierarquico', 'id_participante', 'linguagens_usadas_dia_a_dia', 'situacao_trabalho', 'tamanho_equipe_dados', 'criterios_escolha_emprego', 'modelo_trabalho_ideal', 'regiao_residencia', 'atua_como_gestor', 'tempo_busca_emprego_meses', 'experiencia_dados_anos', 'setor_atuacao', 'nivel_ensino', 'ano', 'experiencia_anos_num', 'regiao_origem', 'entrevistas_ultimos_6m', 'genero', 'uf_residencia', 'motivos_insatisfacao', 'salario_medio_mensal', 'planos_mudar_emprego', 'grupo_cargo', 'faixa_idade', 'experiencia_ti_anos', 'ferramentas_bi_usadas_dia_a_dia', 'tipo_oportunidade_buscada', 'faixa_salarial']
37

In [7]:
lista_dfs = [
  df_2021[colunas_comuns],
  df_2022[colunas_comuns],
  df_2023[colunas_comuns],
  df_2024[colunas_comuns]
]

In [8]:
df_final = pd.concat(lista_dfs, ignore_index=True)
print("União final concluída!")
print(f"Dimensões do DataFrame Mestre: {df_final.shape}")

União final concluída!
Dimensões do DataFrame Mestre: (17426, 37)

In [9]:
df_final['ano'].value_counts().sort_index(ascending=False)

ano
2024    5217
2023    5293
2022    4271
2021    2645
Name: count, dtype: int64

In [10]:
df_final.groupby(['ano', 'nivel_hierarquico'])['salario_medio_mensal'].mean().round(2).unstack()

nivel_hierarquico   Júnior    Pleno    Sênior
ano
2021               3876.49  7609.92  12401.89
2022               3928.64  7961.82  12848.50
2023               3919.75  7533.55  13577.68
2024               4166.96  8048.79  14506.23

In [11]:
df_final['linguagens_usadas_dia_a_dia']

0                              NaN
1                              NaN
2                              NaN
3                              NaN
4                              NaN
                   ...
17421                      Nenhuma
17422    SQL, R, Python, SAS/Stata
17423                      Nenhuma
17424                      Nenhuma
17425                      Nenhuma
Name: linguagens_usadas_dia_a_dia, Length: 17426, dtype: object

In [14]:
df_final.columns

Index(['modelo_trabalho_atual', 'bancos_dados_usados_dia_a_dia',
       'tamanho_empresa', 'desafios_gestor', 'cargo_atual',
       'satisfacao_trabalho', 'idade', 'area_formacao', 'linguagem_principal',
       'nivel_hierarquico', 'id_participante', 'linguagens_usadas_dia_a_dia',
       'situacao_trabalho', 'tamanho_equipe_dados',
       'criterios_escolha_emprego', 'modelo_trabalho_ideal',
       'regiao_residencia', 'atua_como_gestor', 'tempo_busca_emprego_meses',
       'experiencia_dados_anos', 'setor_atuacao', 'nivel_ensino', 'ano',
       'experiencia_anos_num', 'regiao_origem', 'entrevistas_ultimos_6m',
       'genero', 'uf_residencia', 'motivos_insatisfacao',
       'salario_medio_mensal', 'planos_mudar_emprego', 'grupo_cargo',
       'faixa_idade', 'experiencia_ti_anos', 'ferramentas_bi_usadas_dia_a_dia',
       'tipo_oportunidade_buscada', 'faixa_salarial'],
      dtype='object')

In [ ]:
#Dataset final com 37 colunas suficientes para responder as hipóteses
output_path = PROCESSED_DATA_DIR / 'df_final.csv'
df_final.to_csv(output_path)